# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
#Column names should be in lower case

In [ ]:
# Strip and standardize column names
df.columns = df.columns.str.strip().str.lower()

# Define a mapping of abbreviations to full state names
state_mapping = {
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington",
    # Add more mappings as needed
}

# Ensure the column exists
if 'state' in df.columns:  # Adjust the column name to match your dataset
    # Replace state abbreviations with full names
    df['state'] = df['state'].replace(state_mapping)

    # Verify changes
    print("\nUpdated State column values:")
    print(df['state'].unique())
else:
    print("The 'state' column is not found in the dataset.")

In [5]:
import pandas as pd

In [15]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [17]:
print(df.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [19]:
# Convert column names to lowercase
df.columns = df.columns.str.lower()

In [21]:
print(df.columns)

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [23]:
df

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#`st` could be replaced for `state`

In [25]:
df.rename(columns={"st": "state"}, inplace=True)

In [27]:
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [ ]:
# White spaces in column names should be replaced by `_`

In [29]:
df.columns = [col.replace(' ', '_') for col in df.columns]

In [31]:
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
# Your code here

In [ ]:
#Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".

In [99]:
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [101]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [103]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [49]:
df['gender'] = df['gender'].apply(standardize_gender)

AttributeError: 'float' object has no attribute 'strip'

In [105]:
if 'gender' in df.columns:
    def standardize_gender(value):
        if isinstance(value, str):  # Check if the value is a string
            value = value.strip().lower()  # Strip whitespace and convert to lowercase
            if value in ['m', 'male']:
                return 'M'
            elif value in ['f', 'female', 'femal']:
                return 'F'
        return None  # Handle non-string or unexpected values

    df['gender'] = df['gender'].apply(standardize_gender)

    # Verify changes
    print("\nStandardized Gender column values:")
    print(df['gender'].unique())
else:
    print("The 'gender' column is not found in the dataset.")

Standardized Gender column values:
[None 'F' 'M']

In [ ]:
#State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"

In [107]:
# Strip and standardize column names
df.columns = df.columns.str.strip().str.lower()

# Define a mapping of abbreviations to full state names
state_mapping = {
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington",
    # Add more mappings as needed
}

# Ensure the column exists
if 'state' in df.columns:  # Adjust the column name to match your dataset
    # Replace state abbreviations with full names
    df['state'] = df['state'].replace(state_mapping)

    # Verify changes
    print("\nUpdated State column values:")
    print(df['state'].unique())
else:
    print("The 'state' column is not found in the dataset.")

The 'state' column is not found in the dataset.

In [109]:
df.rename(columns={"st": "state"}, inplace=True)
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [111]:
# Strip and standardize column names
df.columns = df.columns.str.strip().str.lower()

# Define a mapping of abbreviations to full state names
state_mapping = {
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington",
    # Add more mappings as needed
}

# Ensure the column exists
if 'state' in df.columns:  # Adjust the column name to match your dataset
    # Replace state abbreviations with full names
    df['state'] = df['state'].replace(state_mapping)

    # Verify changes
    print("\nUpdated State column values:")
    print(df['state'].unique())
else:
    print("The 'state' column is not found in the dataset.")

Updated State column values:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

In [ ]:
#In education, "Bachelors" could be replaced by "Bachelor"

In [113]:
print(df["education"].unique())

['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

In [115]:
# Ensure the column exists
if 'education' in df.columns:  # Adjust the column name to match your dataset
    df['education'] = df['education'].replace("Bachelors", "Bachelor")

    # Verify changes
    print("\nUpdated Education column values:")
    print(df['education'].unique())
else:
    print("The 'education' column is not found in the dataset.")

Updated Education column values:
['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

In [ ]:
#In Customer Lifetime Value, delete the % character

In [117]:
if 'customer_lifetime_value' in df.columns:  # Adjust the column name to match your dataset
    # Remove the % character and convert to a numeric type
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '', regex=False).astype(float)

    # Verify changes
    print("\nUpdated Customer Lifetime Value column:")
    print(df['customer_lifetime_value'].head())  # Print the first few rows
else:
    print("The 'customer_lifetime_value' column is not found in the dataset.")

The 'customer_lifetime_value' column is not found in the dataset.

In [119]:
print(df["customer lifetime value"].unique())

[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

In [121]:
if 'customer lifetime value' in df.columns:  # Use the actual column name
    # Remove the % character and convert to a numeric type
    df['customer lifetime value'] = df['customer lifetime value'].str.replace('%', '', regex=False).astype(float)

    # Verify changes
    print("\nUpdated Customer Lifetime Value column:")
    print(df['customer lifetime value'].head())
else:
    print("The 'customer lifetime value' column is not found in the dataset.")

Updated Customer Lifetime Value column:
0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: customer lifetime value, dtype: float64

In [123]:
#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

In [125]:
if 'vehicle class' in df.columns:  # Adjust the column name to match your dataset
    # Replace specific vehicle classes with "Luxury"
    df['vehicle class'] = df['vehicle class'].replace(
        ["Sports Car", "Luxury SUV", "Luxury Car"], "Luxury"
    )

    # Verify changes
    print("\nUpdated Vehicle Class column values:")
    print(df['vehicle class'].unique())
else:
    print("The 'vehicle class' column is not found in the dataset.")

Updated Vehicle Class column values:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [127]:
#Customer lifetime value should be numeric

In [129]:
if 'customer lifetime value' in df.columns:  # Adjust the column name to match your dataset
    # Convert the column to strings, clean, and then convert to numeric
    df['customer lifetime value'] = (
        df['customer lifetime value']
        .astype(str)  # Convert to string
        .str.replace('%', '', regex=False)  # Remove % if it exists
        .str.replace(r'[^\d.]', '', regex=True)  # Remove non-numeric characters except '.'
    )
    
    # Convert to numeric after cleaning
    df['customer lifetime value'] = pd.to_numeric(df['customer lifetime value'], errors='coerce')

    # Verify changes
    print("\nCustomer Lifetime Value column after conversion:")
    print(df['customer lifetime value'].head())
    print("Column data type:", df['customer lifetime value'].dtype)
else:
    print("The 'customer lifetime value' column is not found in the dataset.")

Customer Lifetime Value column after conversion:
0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: customer lifetime value, dtype: float64
Column data type: float64

In [131]:
# Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` 
# and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - 
# remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, 
# cast the column to be in its proper type.

In [133]:
# Ensure the column exists
if 'number of open complaints' in df.columns:  # Adjust the column name to match your dataset
    # Inspect unique values in the column
    print("\nUnique values in 'number of open complaints' before cleaning:")
    print(df['number of open complaints'].unique())

    # Extract the middle value using split
    def extract_middle_value(value):
        try:
            # Split the string by '/' and return the middle value
            return int(value.split('/')[1])
        except (IndexError, ValueError, AttributeError):
            # Handle cases where splitting fails (e.g., NaN or invalid format)
            return 0

    # Apply the function to clean the column
    df['number of open complaints'] = df['number of open complaints'].apply(extract_middle_value)

    # Convert the column to numeric type
    df['number of open complaints'] = df['number of open complaints'].astype(int)

    # Verify changes
    print("\n'Number of open complaints' after cleaning:")
    print(df['number of open complaints'].unique())
    print("Column data type:", df['number of open complaints'].dtype)
else:
    print("The 'number of open complaints' column is not found in the dataset.")

Unique values in 'number of open complaints' before cleaning:
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

'Number of open complaints' after cleaning:
[0 2 1 3 5 4]
Column data type: int32

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# Your code here

In [ ]:
# Drop the rows or columns with null values

In [135]:
null_counts = df.isnull().sum()

# Display columns with their corresponding number of null values
print(null_counts[null_counts > 0])

customer                   2937
state                      2937
gender                     3054
education                  2937
customer lifetime value    2940
income                     2937
monthly premium auto       2937
policy type                2937
vehicle class              2937
total claim amount         2937
dtype: int64

In [ ]:
# Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)

In [141]:
# Fill null values in numerical columns with their mean
for col in numerical_columns:
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].mean())

In [147]:
# Identify categorical columns in the DataFrame
categorical_columns = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

Categorical columns: Index(['customer', 'state', 'gender', 'education', 'policy type',
       'vehicle class'],
      dtype='object')

In [149]:
# Iterate through each categorical column
for col in categorical_columns:
    if df[col].isnull().sum() > 0:  # Check if the column has null values
        mode_value = df[col].mode()[0]  # Get the most frequent value (mode)
        df[col] = df[col].fillna(mode_value)  # Fill null values with the mode

In [155]:
# Check again for null values
null_counts_after = df.isnull().sum()

# Display columns with remaining null values (if any)
print("\n No Columns with null values:")
print(null_counts_after[null_counts_after > 0])

 No Columns with null values:
Series([], dtype: int64)

In [157]:
# Convert all numeric columns to integers
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_columns] = df[numeric_columns].astype(int)

# Verify changes
print("\nData types after converting numeric variables to integers:")
print(df.dtypes)

Data types after converting numeric variables to integers:
customer                     object
state                        object
gender                       object
education                    object
customer lifetime value       int32
income                        int32
monthly premium auto          int32
number of open complaints     int32
policy type                  object
vehicle class                object
total claim amount            int32
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Your code here

In [ ]:
#Dropping all duplicate rows

In [159]:
# Identify duplicate rows
duplicates = df.duplicated()

# Count the number of duplicate rows
num_duplicates = duplicates.sum()

print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 2936

In [161]:
# Drop duplicate rows and keep the first occurrence
df_cleaned = df.drop_duplicates(keep='first')

# Reset the index
df_cleaned.reset_index(drop=True, inplace=True)

print("Duplicates removed, and the index has been reset.")

Duplicates removed, and the index has been reset.

In [163]:
# Verify that duplicates are removed
duplicates_after = df_cleaned.duplicated().sum()

print(f"Number of duplicate rows after removal: {duplicates_after}")

Number of duplicate rows after removal: 0

In [165]:
# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv('cleaned_dataset.csv', index=False)
print(df)

     customer       state gender             education  \
0     RB50392  Washington      F                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003  AA71604  California      F              Bachelor
4004  AA71604  California      F              Bachelor
4005  AA71604  California      F              Bachelor
4006  AA71604  California      F              Bachelor
4007  AA71604  California      F              Bachelor

      customer lifetime value  income  monthly premium auto  \
0                      793690       0                  1000
1                      697953       0                    94
2                     1288743   48767                   108
3                      764586       0                   106
4                      536307   36357                    68
...                       ...     ...                   ...
4003                   793690   39295                   193
4004                   793690   39295                   193
4005                   793690   39295                   193
4006                   793690   39295                   193
4007                   793690   39295                   193

      number of open complaints     policy type  vehicle class  \
0                             0   Personal Auto  Four-Door Car
1                             0   Personal Auto  Four-Door Car
2                             0   Personal Auto   Two-Door Car
3                             0  Corporate Auto            SUV
4                             0   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                          0   Personal Auto  Four-Door Car
4004                          0   Personal Auto  Four-Door Car
4005                          0   Personal Auto  Four-Door Car
4006                          0   Personal Auto  Four-Door Car
4007                          0   Personal Auto  Four-Door Car

      total claim amount
0                      2
1                   1131
2                    566
3                    529
4                     17
...                  ...
4003                 404
4004                 404
4005                 404
4006                 404
4007                 404

[4008 rows x 11 columns]

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

In [183]:
import pandas as pd

In [179]:
file_path = r'C:\Users\graci\Downloads\Week3\cleaned_dataset.csv'
df = pd.read_csv(file_path)

In [181]:
df

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,F,Master,793690,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
1067,VJ51327,California,F,High School or Below,2031499,63209,102,2,Personal Auto,SUV,207
1068,GS98873,Arizona,F,Bachelor,323912,16061,88,0,Personal Auto,Four-Door Car,633
1069,CW49887,California,F,Master,462680,79487,114,0,Special Auto,SUV,547
1070,MY31220,California,F,College,899704,54230,112,0,Personal Auto,Two-Door Car,537
1071,AA71604,California,F,Bachelor,793690,39295,193,0,Personal Auto,Four-Door Car,404

In [173]:
# Define the file path as a raw string to handle Windows paths
file_path = r"C:\Users\graci\Downloads\Week3\cleaned_dataset.csv"

# Load the dataset using the load_data function
df = load_data(r"C:\Users\graci\Downloads\Week3\cleaned_dataset.csv)

# Display the first few rows of the dataset
print(df.head())

SyntaxError: unterminated string literal (detected at line 5) (329024916.py, line 5)

In [185]:

def load_data(file_path):
    #Load the dataset from the specified file path.
    Parameters:
    file_path (str): Path to the dataset file.

    Returns:
    pd.DataFrame: Loaded dataset as a Pandas DataFrame.
    
    return pd.read_csv(file_path)

def drop_missing_values(df): 
    # Drop rows with missing values.
    Parameters:
    df (pd.DataFrame): Input DataFrame.

    Returns:
    pd.DataFrame: DataFrame with missing values removed.
  
    return df.dropna()

def format_column_names(df):
    # Format column names to be lowercase and replace spaces with underscores.
    Parameters:
    df (pd.DataFrame): Input DataFrame.
    Returns:
    pd.DataFrame: DataFrame with formatted column names. 
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

def convert_data_types(df):  
    #Convert data types of specific columns if necessary. This function can be customized.
    Parameters:
    df (pd.DataFrame): Input DataFrame.

    Returns:
    pd.DataFrame: DataFrame with converted data types.
    
    # Example: Convert a column named 'date' to datetime
    if 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'])
    return df

def save_cleaned_data(df, file_path):
    # Save the cleaned dataset to the specified file path.
    Parameters:
    df (pd.DataFrame): Cleaned DataFrame.
    file_path (str): Path to save the cleaned dataset.

    df.to_csv(file_path, index=False)

def main():  
    # Main function to perform all data cleaning and formatting steps.  
    input_file_path = r'C:\Users\graci\Downloads\Week3\cleaned_dataset.csv'
    output_file_path = r'C:\Users\graci\Downloads\Week3\final_cleaned_dataset.csv'

    # Load data
    df = load_data(input_file_path)

    # Perform data cleaning and formatting
    df = drop_missing_values(df)
    df = format_column_names(df)
    df = convert_data_types(df)

    # Save cleaned data
    save_cleaned_data(df, output_file_path)

if __name__ == "__main__":
    main()

In [189]:
df

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,F,Master,793690,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
1067,VJ51327,California,F,High School or Below,2031499,63209,102,2,Personal Auto,SUV,207
1068,GS98873,Arizona,F,Bachelor,323912,16061,88,0,Personal Auto,Four-Door Car,633
1069,CW49887,California,F,Master,462680,79487,114,0,Special Auto,SUV,547
1070,MY31220,California,F,College,899704,54230,112,0,Personal Auto,Two-Door Car,537
1071,AA71604,California,F,Bachelor,793690,39295,193,0,Personal Auto,Four-Door Car,404

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here

In [199]:
# Load the dataset
file_path = r'C:\Users\graci\Downloads\Week3\final_cleaned_dataset.csv'
data = pd.read_csv(file_path)

# Reviewing statistics for total claim amount and customer lifetime value
total_claim_amount_stats = data['Total Claim Amount'].describe()
customer_lifetime_value_stats = data['Customer Lifetime Value'].describe()

# Defining thresholds for high policy claim amount and low customer lifetime value
claim_amount_75th_percentile = data['Total Claim Amount'].quantile(0.75)
clv_25th_percentile = data['Customer Lifetime Value'].quantile(0.25)

# Filtering data for customers with high policy claim amount and low customer lifetime value
filtered_data = data[
    (data['Total Claim Amount'] > claim_amount_75th_percentile) &
    (data['Customer Lifetime Value'] < clv_25th_percentile)
]

# Summary statistics for the filtered data
filtered_data_summary = filtered_data[['Total Claim Amount', 'Customer Lifetime Value']].describe()

import ace_tools as tools; tools.display_dataframe_to_user(name="Filtered High Claim and Low CLV Data", dataframe=filtered_data)

filtered_data_summary

KeyError: 'Total Claim Amount'

In [201]:
print(data.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [203]:
# Load the dataset
file_path = r'C:\Users\graci\Downloads\Week3\final_cleaned_dataset.csv'
data = pd.read_csv(file_path)

# Reviewing statistics for total claim amount and customer lifetime value
total_claim_amount_stats = data['total_claim_amount'].describe()
customer_lifetime_value_stats = data['customer_lifetime_value'].describe()

# Defining thresholds for high policy claim amount and low customer lifetime value
claim_amount_75th_percentile = data['total_claim_amount'].quantile(0.75)
clv_25th_percentile = data['customer_lifetime_value'].quantile(0.25)

# Filtering data for customers with high policy claim amount and low customer lifetime value
filtered_data = data[
    (data['total_claim_amount'] > claim_amount_75th_percentile) &
    (data['customer_lifetime_value'] < clv_25th_percentile)
]

# Summary statistics for the filtered data
filtered_data_summary = filtered_data[['total_claim_amount', 'customer_lifetime_value']].describe()

# Save or display the filtered data
filtered_data.to_csv("filtered_data.csv", index=False)  # Save to a CSV file
print(filtered_data_summary)  # Print the summary statistics

       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000

In [ ]:
OMG, OMG,  OMG...